<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhijie.zmall.admin.dao.AdminDao">

    <resultMap id="AdminMap" type="com.zhijie.zmall.admin.vo.AdminVO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="remark" column="remark"/>
        <result property="state" column="state"/>
        <result property="userImg" column="userImg"/>
        <result property="status" column="status"/>
        <result property="locked" column="locked"/>
        <result property="createTime" column="createTime"/>
        <result property="lastModifyTime" column="lastModifyTime"/>
        <result property="createUserId" column="createUserId"/>
        <result property="lastModifyUserId" column="lastModifyUserId"/>
        <association property="createUser" javaType="com.zhijie.zmall.admin.vo.AdminVO">
            <id property="id" column="createUserId"/>
            <result property="name" column="createUserName"/>
        </association>
        <association property="modifyUser" javaType="com.zhijie.zmall.admin.vo.AdminVO">
            <id property="id" column="modifyUserId"/>
            <result property="name" column="modifyUserName"/>
        </association>
    </resultMap>

    <sql id="columns">
        <![CDATA[
        	id as id,
        	name as name,
        	phone as phone,
        	email as email,
        	remark as remark,
        	state as state,
        	user_img as userImg,
        	status as status,
        	locked as locked,
        	create_time as createTime,
        	last_modify_time as lastModifyTime,
        	create_user_id as createUserId,
        	last_modify_user_id as lastModifyUserId
        ]]>
    </sql>

    <sql id="where">
        <where>
            <if test="@Ognl@isNotEmpty(id)">
                <![CDATA[ AND id = #{id} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(name)">
                <![CDATA[ AND name = #{name} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(phone)">
                <![CDATA[ AND phone = #{phone} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(email)">
                <![CDATA[ AND email = #{email} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(password)">
                <![CDATA[ AND password = #{password} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(remark)">
                <![CDATA[ AND remark = #{remark} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(state)">
                <![CDATA[ AND state = #{state} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(userImg)">
                <![CDATA[ AND user_img = #{userImg} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(status)">
                <![CDATA[ AND status = #{status} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(locked)">
                <![CDATA[ AND locked = #{locked} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(createTime)">
                <![CDATA[ AND create_time = #{createTime} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(createTimeBegin)">
                <![CDATA[ AND create_time >= #{createTimeBegin} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(createTimeEnd)">
                <![CDATA[ AND create_time <= #{createTimeEnd} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(lastModifyTime)">
                <![CDATA[ AND last_modify_time = #{lastModifyTime} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(lastModifyTimeBegin)">
                <![CDATA[ AND last_modify_time >= #{lastModifyTimeBegin} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(lastModifyTimeEnd)">
                <![CDATA[ AND last_modify_time <= #{lastModifyTimeEnd} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(createUserId)">
                <![CDATA[ AND create_user_id = #{createUserId} ]]>
            </if>
            <if test="@Ognl@isNotEmpty(lastModifyUserId)">
                <![CDATA[ AND last_modify_user_id = #{lastModifyUserId} ]]>
            </if>
        </where>
    </sql>

    <select id="getById" resultType="com.zhijie.zmall.admin.vo.AdminVO">
        SELECT
        <include refid="columns"/>
        FROM
        t_admin
        <where>
            id = #{id}
        </where>
    </select>

    <select id="getByCondition" resultType="com.zhijie.zmall.admin.vo.AdminVO">
        SELECT
        <include refid="columns"/>
        FROM
        t_admin
        <include refid="where"/>
    </select>

    <select id="queryList" resultMap="AdminMap">
        SELECT
        <include refid="columns"/>
        FROM
        t_admin
        <include refid="where"/>
    </select>

    <select id="count" resultType="long">
        SELECT
        count(1)
        FROM
        t_admin
        <include refid="where"/>
    </select>

    <select id="queryPage" resultMap="AdminMap">
        SELECT
        <include refid="columns"/>
        FROM
        t_admin
        <include refid="where"/>
        <!-- {startPosition}和{pageSize}前面加上"#"号 -->
        LIMIT {startPosition},{pageSize}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO t_admin (
	        name,
	        phone,
	        email,
	        password,
	        remark,
	        state,
	        user_img,
	        status,
	        locked,
	        create_time,
	        last_modify_time,
	        create_user_id,
	        last_modify_user_id
	    ) VALUES (
	        #{name},
	        #{phone},
	        #{email},
	        #{password},
	        #{remark},
	        #{state},
	        #{userImg},
	        #{status},
	        #{locked},
	        #{createTime},
	        #{lastModifyTime},
	        #{createUserId},
	        #{lastModifyUserId}
	    )
    </insert>

    <insert id="saveBatch">
        INSERT INTO t_admin (
        name,
        phone,
        email,
        password,
        remark,
        state,
        user_img,
        status,
        locked,
        create_time,
        last_modify_time,
        create_user_id,
        last_modify_user_id
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.name},
            #{item.phone},
            #{item.email},
            #{item.password},
            #{item.remark},
            #{item.state},
            #{item.userImg},
            #{item.status},
            #{item.locked},
            #{item.createTime},
            #{item.lastModifyTime},
            #{item.createUserId},
            #{item.lastModifyUserId}
            )
        </foreach>
    </insert>

    <update id="updateById">
        UPDATE
        t_admin
        <set>
            <if test="name != null">
                <![CDATA[ name = #{name} ]]>,
            </if>
            <if test="phone != null">
                <![CDATA[ phone = #{phone} ]]>,
            </if>
            <if test="email != null">
                <![CDATA[ email = #{email} ]]>,
            </if>
            <if test="password != null">
                <![CDATA[ password = #{password} ]]>,
            </if>
            <if test="remark != null">
                <![CDATA[ remark = #{remark} ]]>,
            </if>
            <if test="state != null">
                <![CDATA[ state = #{state} ]]>,
            </if>
            <if test="userImg != null">
                <![CDATA[ user_img = #{userImg} ]]>,
            </if>
            <if test="status != null">
                <![CDATA[ status = #{status} ]]>,
            </if>
            <if test="locked != null">
                <![CDATA[ locked = #{locked} ]]>,
            </if>
            <if test="createTime != null">
                <![CDATA[ create_time = #{createTime} ]]>,
            </if>
            <if test="lastModifyTime != null">
                <![CDATA[ last_modify_time = #{lastModifyTime} ]]>,
            </if>
            <if test="createUserId != null">
                <![CDATA[ create_user_id = #{createUserId} ]]>,
            </if>
            <if test="lastModifyUserId != null">
                <![CDATA[ last_modify_user_id = #{lastModifyUserId} ]]>
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="deleteById">
        DELETE
        FROM
        t_admin
        <where>
            id = #{id}
        </where>
    </delete>

    <delete id="deleteBatchByIds">
        DELETE
        FROM
        t_admin
        WHERE
        id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getDetailById" resultType="com.zhijie.zmall.admin.vo.AdminVO">
        SELECT
        <include refid="columns"/>
        FROM
        t_admin
        <where>
            id = #{id}
        </where>
    </select>

    <select id="getDetailByCondition" resultType="com.zhijie.zmall.admin.vo.AdminVO">
        SELECT
        <include refid="columns"/>
        FROM
        t_admin
        <include refid="where"/>
    </select>

    <select id="queryDetailList" resultMap="AdminMap">
        SELECT
        admin.id as id,
        admin.name as name,
        admin.phone as phone,
        admin.email as email,
        admin.remark as remark,
        admin.state as state,
        admin.user_img as userImg,
        admin.status as status,
        admin.locked as locked,
        admin.create_time as createTime,
        admin.last_modify_time as lastModifyTime,
        ca.id AS createUserId,
        ca.name AS createUserName,
        ea.id AS modifyUserId,
        ea.name AS modifyUserName
        FROM
        t_admin admin LEFT JOIN t_admin ca ON admin.create_user_id = ca.id
        LEFT JOIN t_admin ea ON admin.last_modify_user_id = ea.id
        <include refid="where"/>
    </select>

    <select id="countDetail" resultType="long">
        SELECT
        count(1)
        FROM
        t_admin
        <include refid="where"/>
    </select>

    <select id="queryDetailPage" resultMap="AdminMap">
        SELECT
        admin.id as id,
        admin.name as name,
        admin.phone as phone,
        admin.email as email,
        admin.remark as remark,
        admin.state as state,
        admin.user_img as userImg,
        admin.status as status,

        admin.create_time as createTime,
        admin.last_modify_time as lastModifyTime,
        ca.id AS createUserId,
        ca.name AS createUserName,
        ea.id AS modifyUserId,
        ea.name AS modifyUserName
        FROM
        t_admin admin LEFT JOIN t_admin ca ON admin.create_user_id = ca.id
        LEFT JOIN t_admin ea ON admin.last_modify_user_id = ea.id
        <include refid="where"/>
        <!-- {startPosition}和{pageSize}前面加上"#"号 -->
        LIMIT #{startPosition},#{pageSize}
    </select>
</mapper>

