<component name="libraryTable">
  <library name="spring-data-redis-1.6.4.RELEASE">
    <CLASSES>
      <root url="jar://F:/maven_reps/org/springframework/data/spring-data-redis/1.6.4.RELEASE/spring-data-redis-1.6.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>