<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhijie.zmall.user.dao.UserDao">

    <resultMap id="UserMap" type="com.zhijie.zmall.user.vo.UserVO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="passwordSalt" column="passwordSalt"/>
        <result property="remark" column="remark"/>
        <result property="state" column="state"/>
        <result property="userImg" column="userImg"/>
        <result property="gradeId" column="gradeId"/>
        <result property="status" column="status"/>
        <result property="createTime" column="createTime"/>
        <result property="lastModifyTime" column="lastModifyTime"/>
        <result property="createUserId" column="createUserId"/>
        <result property="lastModifyUserId" column="lastModifyUserId"/>
    </resultMap>
    
    <sql id="columns">
        <![CDATA[
        	id as id,
        	name as name,
        	phone as phone,
        	email as email,
        	password as password,
        	password_salt as passwordSalt,
        	remark as remark,
        	state as state,
        	user_img as userImg,
        	grade_id as gradeId,
        	status as status,
        	create_time as createTime,
        	last_modify_time as lastModifyTime,
        	create_user_id as createUserId,
        	last_modify_user_id as lastModifyUserId
        ]]>
    </sql>
    
    <sql id="where">
    	<where>
           	<if test="@Ognl@isNotEmpty(id)">
            	<![CDATA[ AND id = #{id} ]]>
            </if>
           	<if test="@Ognl@isNotEmpty(name)">
            	<![CDATA[ AND name = #{name} ]]>
            </if>
           	<if test="@Ognl@isNotEmpty(phone)">
            	<![CDATA[ AND phone = #{phone} ]]>
            </if>
           	<if test="@Ognl@isNotEmpty(email)">
            	<![CDATA[ AND email = #{email} ]]>
            </if>
           	<if test="@Ognl@isNotEmpty(password)">
            	<![CDATA[ AND password = #{password} ]]>
            </if>
           	<if test="@Ognl@isNotEmpty(passwordSalt)">
            	<![CDATA[ AND password_salt = #{passwordSalt} ]]>
            </if>
           	<if test="@Ognl@isNotEmpty(remark)">
            	<![CDATA[ AND remark = #{remark} ]]>
            </if>
           	<if test="@Ognl@isNotEmpty(state)">
            	<![CDATA[ AND state = #{state} ]]>
            </if>
           	<if test="@Ognl@isNotEmpty(userImg)">
            	<![CDATA[ AND user_img = #{userImg} ]]>
            </if>
           	<if test="@Ognl@isNotEmpty(gradeId)">
            	<![CDATA[ AND grade_id = #{gradeId} ]]>
            </if>
           	<if test="@Ognl@isNotEmpty(status)">
            	<![CDATA[ AND status = #{status} ]]>
            </if>
           	<if test="@Ognl@isNotEmpty(createTime)">
           		<![CDATA[ AND create_time = #{createTime} ]]>
           	</if>
           	<if test="@Ognl@isNotEmpty(createTimeBegin)">
           		<![CDATA[ AND create_time >= #{createTimeBegin} ]]>
           	</if>
           	<if test="@Ognl@isNotEmpty(createTimeEnd)">
            	<![CDATA[ AND create_time <= #{createTimeEnd} ]]>
           	</if>
           	<if test="@Ognl@isNotEmpty(lastModifyTime)">
           		<![CDATA[ AND last_modify_time = #{lastModifyTime} ]]>
           	</if>
           	<if test="@Ognl@isNotEmpty(lastModifyTimeBegin)">
           		<![CDATA[ AND last_modify_time >= #{lastModifyTimeBegin} ]]>
           	</if>
           	<if test="@Ognl@isNotEmpty(lastModifyTimeEnd)">
            	<![CDATA[ AND last_modify_time <= #{lastModifyTimeEnd} ]]>
           	</if>
           	<if test="@Ognl@isNotEmpty(createUserId)">
            	<![CDATA[ AND create_user_id = #{createUserId} ]]>
            </if>
           	<if test="@Ognl@isNotEmpty(lastModifyUserId)">
            	<![CDATA[ AND last_modify_user_id = #{lastModifyUserId} ]]>
            </if>
        </where>
    </sql>
    
    <select id="getById" resultType="com.zhijie.zmall.user.vo.UserVO">
        SELECT 
        	<include refid="columns" />
        FROM
            t_user
        <where> 
            id = #{id} 
        </where>
    </select>
    
    <select id="getByCondition" resultType="com.zhijie.zmall.user.vo.UserVO">
        SELECT
            <include refid="columns" />
        FROM
            t_user 
        <include refid="where"/>
    </select>
    
    <select id="queryList" resultMap="UserMap">
        SELECT
            <include refid="columns" />
        FROM
            t_user 
        <include refid="where"/>
    </select>
        
    <select id="count" resultType="long">
	    SELECT
	        count(1)
	    FROM
	        t_user
        <include refid="where"/>
    </select>
    
    <select id="queryPage" resultMap="UserMap">
        SELECT
            <include refid="columns" />
        FROM
            t_user 
        <include refid="where"/>
	    <!-- #{startPosition}和#{pageSize}前面加上"#"号 --> 
        LIMIT #{startPosition},#{pageSize}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO t_user (
	        name,
	        phone,
	        email,
	        password,
	        password_salt,
	        remark,
	        state,
	        user_img,
	        grade_id,
	        status,
	        create_time,
	        last_modify_time,
	        create_user_id,
	        last_modify_user_id
	    ) VALUES (
	        #{name},
	        #{phone},
	        #{email},
	        #{password},
	        #{passwordSalt},
	        #{remark},
	        #{state},
	        #{userImg},
	        #{gradeId},
	        #{status},
	        #{createTime},
	        #{lastModifyTime},
	        #{createUserId},
	        #{lastModifyUserId}
	    )
    </insert>

    <insert id="saveBatch">
        INSERT INTO t_user (
            name,
            phone,
            email,
            password,
            password_salt,
            remark,
            state,
            user_img,
            grade_id,
            status,
            create_time,
            last_modify_time,
            create_user_id,
            last_modify_user_id
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
                                #{item.name},
                #{item.phone},
                #{item.email},
                #{item.password},
                #{item.passwordSalt},
                #{item.remark},
                #{item.state},
                #{item.userImg},
                #{item.gradeId},
                #{item.status},
                #{item.createTime},
                #{item.lastModifyTime},
                #{item.createUserId},
                #{item.lastModifyUserId}
            )
        </foreach>
    </insert>
    
    <update id="updateById">
    	UPDATE
        	t_user
    	<set>
        	<if test="name != null">
        		<![CDATA[ name = #{name} ]]>,
        	</if>
        	<if test="phone != null">
        		<![CDATA[ phone = #{phone} ]]>,
        	</if>
        	<if test="email != null">
        		<![CDATA[ email = #{email} ]]>,
        	</if>
        	<if test="password != null">
        		<![CDATA[ password = #{password} ]]>,
        	</if>
        	<if test="passwordSalt != null">
        		<![CDATA[ password_salt = #{passwordSalt} ]]>,
        	</if>
        	<if test="remark != null">
        		<![CDATA[ remark = #{remark} ]]>,
        	</if>
        	<if test="state != null">
        		<![CDATA[ state = #{state} ]]>,
        	</if>
        	<if test="userImg != null">
        		<![CDATA[ user_img = #{userImg} ]]>,
        	</if>
        	<if test="gradeId != null">
        		<![CDATA[ grade_id = #{gradeId} ]]>,
        	</if>
        	<if test="status != null">
        		<![CDATA[ status = #{status} ]]>,
        	</if>
        	<if test="createTime != null">
        		<![CDATA[ create_time = #{createTime} ]]>,
        	</if>
        	<if test="lastModifyTime != null">
        		<![CDATA[ last_modify_time = #{lastModifyTime} ]]>,
        	</if>
        	<if test="createUserId != null">
        		<![CDATA[ create_user_id = #{createUserId} ]]>,
        	</if>
        	<if test="lastModifyUserId != null">
        		<![CDATA[ last_modify_user_id = #{lastModifyUserId} ]]>
        	</if>
    	</set>
    	<where>
        	id = #{id}
    	</where>
    </update>
    
    <delete id="deleteById">
	    DELETE
	    FROM
	        t_user
	    <where>
	        id = #{id} 
	    </where>
    </delete>
    
    <delete id="deleteBatchByIds">
        DELETE
        FROM
            t_user
        WHERE
            id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
#{item}        </foreach>
    </delete>
    
   	<select id="getDetailById" resultType="com.zhijie.zmall.user.vo.UserVO">
        SELECT 
        	<include refid="columns" />
        FROM
            t_user
        <where> 
            id = #{id} 
        </where>
    </select>
    
    <select id="getDetailByCondition" resultType="com.zhijie.zmall.user.vo.UserVO">
        SELECT
            <include refid="columns" />
        FROM
            t_user 
        <include refid="where"/>
    </select>
    
    <select id="queryDetailList" resultMap="UserMap">
        SELECT
            <include refid="columns" />
        FROM
            t_user 
        <include refid="where"/>
    </select>
        
    <select id="countDetail" resultType="long">
	    SELECT
	        count(1)
	    FROM
	        t_user
        <include refid="where"/>
    </select>
    
    <select id="queryDetailPage" resultMap="UserMap">
        SELECT
            <include refid="columns" />
        FROM
            t_user 
        <include refid="where"/>
	    <!-- #{startPosition}和#{pageSize}前面加上"#"号 --> 
        LIMIT #{startPosition},#{pageSize}
    </select>
</mapper>

